node_modules
.DS_Store
dump.rdb
npm-debug.log
public/javascripts/builds/index.js
public/javascripts/primus.js
credentials.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
