doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/aaf_sdk_min.js')
    script(type='text/javascript' src='/javascripts/builds/primus.js')

  body
    div#data(myid=id name=name isAW=isAW)
    div#root
    script(type='text/javascript' src='/javascripts/aaf_sdk_min.js')
    script(type='text/javascript' src='/javascripts/builds/index.js')
