doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/builds/primus.js')

  body
    div#data(myid=id)
    div#root
    script(type='text/javascript' src='/javascripts/builds/index.js')
