/*
 * Got this style from.
 * http://codepen.io/geoffgraham/pen/FyBJk
 */

body {
  font-family: "Helvetica Neue", arial, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

h3 {
  font-size: 2em;
}

p {
  text-align: center;
}

progress, progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: inherit;;
  width: 100%;
}

.game-timer {
  text-align: center;
  font-size: 22px;
}

.skill-list {
  list-style: none;
  margin: 0;
  padding: 0em;
}

.skill {
  height: 35px;
  margin-bottom: 1em;
  position: relative;
}
.skill h4 {
  color: #fff;
  left: 10px;
  line-height: 1;
  position: absolute;
  top: -12px;
  height: inherit;
}
.skill ::-webkit-progress-value {
  -webkit-animation: bar-fill 2s;
  width: 0px;
}

.skill-1::-webkit-progress-value {
  background: #ff9e2c;
}

.skill-1::-moz-progress-bar {
  background: #ff9e2c;
}

.skill-2::-webkit-progress-value {
  background: #4ecdc4;
}

.skill-2::-moz-progress-bar {
  background: #4ecdc4;
}

.skill-3::-webkit-progress-value {
  background: #ff6b6b;
}

.skill-3::-moz-progress-bar {
  background: #ff6b6b;
}

@-webkit-keyframes bar-fill {
  0% {
    width: 0;
  }
}
@keyframes bar-fill {
  0% {
    width: 0;
  }
}
